### Convert CSV to HTML

In [1]:
import pandas as pd
import os

In [2]:
path = os.path.join("Resources", "cities.csv")

In [3]:
city_data = pd.read_csv(path)

In [4]:
city_data

,City,Cloudiness (%),Country,Date,Humidity (%),Latitude,Longitude,Maximum Temperature,Wind Speed (mph)
0,Saint-André-les-Vergers,0,FR,1621891032,76,48.2853,4.0521,48.24,16.11
1,Hasaki,22,JP,1621890549,81,35.7333,140.8333,63.00,7.38
2,Saint-Philippe,85,RE,1621890352,78,-21.3585,55.7679,71.19,13.71
3,Khatanga,100,RU,1621891032,99,71.9667,102.5000,31.51,2.35
4,Mataura,6,NZ,1621890531,93,-46.1927,168.8643,32.25,3.04
...,...,...,...,...,...,...,...,...,...
538,Boa Vista,75,BR,1621891158,74,2.8197,-60.6733,82.38,5.75
539,Fortuna,1,US,1621891159,64,40.5982,-124.1573,74.43,4.00
540,Mazatlán,1,MX,1621891159,66,23.2167,-106.4167,89.56,7.00
541,Taltal,100,CL,1621890629,68,-25.4000,-70.4833,66.54,5.17
542,Ürümqi,0,CN,1621891159,28,43.8010,87.6005,65.35,1.99

In [5]:
city_data.to_html("data.html")